.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
   width: 1020px;
}
.carousel-control{
    border-width: thin;
    line-height: 25px;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
    background: #0081C2;
    color: white;
    text-shadow:none;

}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle{
    background: #0081C2;
    color: white;
    padding:8px 15px;
}
.dropdown-toggle{
    margin: 0px 0 -5px 0;
}
 .carousel-caption{
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.30);
        margin-left:   auto;
        margin-right: auto
}
.subcaption{
    width: 1020px;
    margin-right: auto;
    margin-left: auto;
}
a.pull-right{
    margin-top: 12px;
}

body {
	padding-bottom: 0px !important;
}

.subcaption p{
    line-height: 30px;
    margin-bottom: auto;
}

/* Large desktop */
@media (min-width: 1200px) { 

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
     .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
        width: auto;
    }
    .carousel-caption{
        width: auto;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
     .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
        width: auto;
    }
    .carousel-caption{
        width: auto;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
        position: relative;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {

}